<h1>Listing Coordinators</h1>

<% @users.each do |user| %>
<h2><%= user.firstname %> <%= user.lastname %></h2>
<p>email: <%= user.email %>, phone: <%= user.phone %></p>
<p><%= link_to 'Show', user %> <%= link_to 'Edit', edit_user_path(user) %> <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></p>
<% end %>

<br />

<%= link_to 'New User', new_user_path %>
