<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.firstname %> <%= @user.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
	
<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Street:</b>
  <%= @user.street %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @user.zipcode %>
</p>

<p>
  <b>State:</b>
  <%= @user.state_id %>
</p>

<p>
  <b>County:</b>
  <%= @user.county_id %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
